/* Variables used throughout will go here. */
/* CSS code for the Navbar section. */
.navbar-brand {
  text-align: left; }

body {
  background: lightblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

/* CSS code for the Header section. */
.jumbotron {
  background-image: url("/assets/img/bikesBackground1.jpg");
  height: 600px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; }

.jumbotron h1 {
  margin-top: 150px;
  text-align: center;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.jumbotron p {
  text-align: center;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

/* CSS code for the Portfolio section. */
#portfolio img {
  width: 450px;
  height: 300px; }

#portfolio {
  background-color: #8fd2e9;
  padding: 70px 50px 70px 50px; }

#portfolio h1 {
  text-align: center; }

#portfolio p {
  text-align: center;
  font-size: 16px; }

#hiddenProj {
  opacity: 0.5; }

/* CSS code for the About section. */
#myPic {
  border: white 3px solid;
  border-radius: 100%;
  background-image: url("/assets/img/profile.jpg");
  height: 300px;
  width: 300px;
  background-size: cover; }

#about {
  background: lightblue;
  margin: 50px 0px 0px 0px; }

#about span {
  font-size: 16px; }

/* CSS code for the Contact section. */
#contact h1 {
  text-align: center; }

#contact h4 {
  text-align: center; }

.links {
  text-align: center; }

#contact {
  padding: 20px 0px 50px 0px; }

/* CSS code for the Footer section. */
footer p {
  font-size: 12px; }
