/* Variables used throughout will go here. */
/* CSS code for the Navbar section. */
.navbar-brand {
  text-align: left; }

body {
  background: #add8e6;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

/* CSS code for the Header section. */
.jumbotron {
  background-image: url("/assets/img/bikesBackground1.jpg");
  height: 600px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; }

.jumbotron h1 {
  margin: 290px 0px 0px 300px;
  text-align: left;
  color: white;
  text-shadow: 1px 1px blue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.jumbotron p {
  margin: 0px 0px 0px 300px;
  text-align: left;
  color: white;
  text-shadow: 1px 1px blue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

/* CSS code for the Portfolio section. */
#portfolio img {
  width: 32em;
  height: 22em;
  max-width: 100%;
  padding-bottom: 1em 1em 1em 1em; }

#portfolio {
  background-color: #8fd2e9;
  padding: 5em 3em 11em 3em; }

#portfolio h1 {
  text-align: center; }

#portfolio h4 {
  text-align: center; }

#portfolio p {
  text-align: left;
  font-size: 16px; }

.hiddenProj {
  padding: 1em 1em 1em 1em;
  opacity: 0.0;
  background-color: #74a7d3;
  border-radius: 5px;
  border: 3px white solid;
  width: 32em;
  height: 22em;
  max-width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  transition: 1.5s;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.hiddenProj:hover {
  transform: scale(1.1);
  opacity: 1; }

/* CSS code for the About section. */
#myPic {
  border: white 3px solid;
  border-radius: 100%;
  background-image: url("/assets/img/profile.jpg");
  height: 300px;
  width: 300px;
  background-size: cover; }

#about {
  background: lightblue;
  margin: 50px 0px 0px 0px; }

#about span {
  font-size: 16px; }

/* CSS code for the Contact section. */
#contact h1 {
  text-align: center; }

#contact h4 {
  text-align: center; }

.links {
  text-align: center; }

#contact {
  padding: 2em 0em 8em 0em; }

/* CSS code for the Footer section. */
footer p {
  font-size: 12px; }
