/* CSS code for the About section. */
#myPic{
    border: white 3px solid;
    border-radius: 100%;
    background-image: url("/assets/img/profile.jpg");
    height: 300px;
    width: 300px;
    background-size: cover;
}
#about{
    background: lightblue;
    margin: 50px 0px 0px 0px;
}
#about span{
    font-size: 16px;
}
