/* CSS code for the Navbar section. */

// .mainNav    {
//     background-color: rgb(163, 29, 29);
// }
.navbar-brand{
    text-align: left;
}
body{
    background: lightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}