/* CSS code for the Portfolio section. */

#portfolio img{
    width: 32em;
    height: 22em;
    // transition: all 1s;
}
// #portfolio img:hover{
//     transform: scale(1.1);
// }
#portfolio{
    background-color: rgb(143, 210, 233);
    padding: 5em 3em 11em 3em;
}
#portfolio h1{
    text-align: center;
}
#portfolio h4{
    text-align: center;
}
#portfolio p{
    text-align: left;
    font-size: 16px;
}
.hiddenProj{
    padding: 5px 5px 5px 5px;
    opacity: 0.0;
    background-color: rgb(116, 167, 211);
    border-radius: 5px;
    border: 3px white solid;
    width: 32em;
    height: 22em;
    position: absolute;
    bottom: 0px;
    transition: 1.5s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.hiddenProj:hover{
    transform: scale(1.1);
    opacity: 1;
}